<!DOCTYPE html>

<div class="d-inline-flex row-fluid justify-content-center align-items-center " id="firstpanel">

    <div class="d-flex col flex-column pb-5 px-5 align-items-center justify-content-center" id="firstpanelcol">

      <h2> What'sHapNiin?</h2>
      <div class="d-inline-flex row" >

          <p> Hellow there</p>
        </div>
      <p>AnApp;ocatopn tp oncrease social ststus by the use of majijuana and fresh thoughts.
        Visit with any of your friends b =y simply tellibg the world what you are doing.
      </p>

    </div>



</div>

