<!DOCTYPE html>

<div id="wrapper">
    <div class="row" id="row0">
        <div class="col" style="text-align: center;">
            <h2>Projects</h2>

        </div>
    </div>

    <div class="row" id="row1">

        <div class="col" style="text-align: center;">

            <div class="row justify-content-center">
                <div class="col-4 " style="text-align: center;">


                    <div id="card">
                        <div id="cardheader">
                            <p>WhatsHappNin<br>A location based social media application</p>

                        </div>

                        <div id="picture1">

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
    <div class="row" id="row2">
        <div class="col">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <div id="card">
                        <div id="cardheader">
                            <p>Resume Application<br>
                                Upload and compare your Resume</p>
                        </div>


                        <div id="picture">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--


<div>

    <div class="row d-flex justify-content-center" id="toprow">
        <div>

        </div>
    </div>



    <div class="row d-flex justify-content-center" id="toprow">
        <div class=" animated bounceIn">

            <h1>Projects</h1>

        </div>
    </div>



    <div class="row " id="row1">

        <div class="col-6" id="outercol">
            <div id="alltext">


                <h2>WhatsHappNin</h2>
                <p>A Social Media Application</p>
                <p>For Android phones</p>
                <p>And for people looking to be a better friend</p>
            </div>

        </div>

        <div class=" col-6" id="innercol">


            <div id="picture1">

            </div>



        </div>


    </div>

    <div class="row d-flex justify-content-center" id="middlerow">
        <div>

        </div>
    </div>

    <div class="row " id="row1">

        <div class="col-6" id="outercol">
            <div id="alltext">


                <h2>Resume Application</h2>
                <p>An application to create an online resume</p>
                <p>That will let you format your documnet how you want</p>
                <p>And let you compare your information with your peers</p>
            </div>
        </div>

        <div class=" col-6 " id="innercol">

            <div id="picture">

            </div>


        </div>


    </div>
    
    
    <div class="row d-flex justify-content-center" id="middlerow">
            <div>
    
            </div>
        </div>

</div>
-->