

<div class="container-fluid" style="background-image: url(../../background.jpg);" id="image1">

    
    <div class="d-flex row-fluid justify-content-center align-items-center" id="firstpanel">

      
        <div class="col-10 justify-content-center align-items-center" id="columnpanel">
          
         
            <h1 class="display-2 text-center" style="font-size:6vw; ">David Tommy Lucero</h1>
            <p class="h3 my-3 text-center"  style="font-size:2vw;">Computer Scientist</p>
          </div>

   

    </div>

    

    
</div>  


<div class="d-flex row-fluid align-items-center justify-content-center" id="secondpanel">

      
    <div class="col-10 justify-content-center align-items-center" id="aboutpanel">

      <div class="d-flex flex-column">
        <p class="h5 my-3 text-center"  style="font-size:2vw;">I enjoy web development</p>
        <p class="h5 my-3 text-center"  style="font-size:2vw;">I am aiming to work at Google</p>
        <p class="h5 my-3 text-center"  style="font-size:2vw;">I have designed this website from scratch</p>
      </div>

    </div>    
      
</div>    

<div class="container-fluid" id="image2">


    <div class="d-flex row-fluid justify-content-center align-items-center " id="firstpanel">

      
        <div class="col-10 justify-content-center align-items-center" id="columnpanel">
          
            <h1 class="display-2 text-center" style="font-size:6vw; color:azure;">RESUME</h1>
            
        </div>

    </div>

</div>

<div class="d-flex row-fluid align-items-center justify-content-center" id="secondpanel">

      
    <div class="col-5 justify-content-center p-5 align-items-center" id="resumepanel">
        <a href="https://drive.google.com/file/d/1o6U5hDWw_n5lO2otGnTZjjZbu-blE5hR/view?usp=sharing">
          <img src="https://lh6.googleusercontent.com/QaVQ4TA1bMTJqOOy4aga5-ZWjexWY6FJEVm5NwQRDQ1l-hgmlVFs7NWs7e8=w2400" style="width:100%; height:100%">
        </a>
    </div>    
      
</div>