.row-fluid{
    height: 100%;
    
}

#columnpanel{
    height:50%;
    
}
#aboutpanel{
    height:80%;

}

#image1{
    height: 100%;
    

    background-image: url(../../background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
#image2{
    height: 100%;
    background-image: url(../../background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#firstpanel{
    height: 100%;
}
#secondpanel{
    height:100%;
}
#resumepanel{
    height: 90%;
    background-color: black;
}

@media (min-width: 768px){
    #image{
        background-attachment: fixed;
    }
}

