/* You can add global styles to this file, and also import other style files */



html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
   
    z-index:-50;

    background-color: #917901;
    -webkit-overflow-scrolling: touch;
}

 
