<!DOCTYPE html>

<div style="width:100%; background-color:whitesmoke;">

    <div class="row" id="slant">
        <div class="col" style="text-align: center;">
            <h1 style="color: #917901;">David Lucero</h1>
        </div>
    </div>



    <div class="row" id="row2">

        <div class="col" style="text-align: center;">
            <h2 id="rowtitle">About</h2>

            <div class="row ">
                <div class="col">
                    <p>I am a senior at Texas Tech University and I am majoring
                        in computer science.
                        I am employed as a software developer working on the next big thing.
                    </p>
                    <p>
                        On the side, i'm making the next facebook or what ever
                        social media people are using today.
                        Also, I am into Web Dev, cloud computing, and pretty much anything else related to
                        programming as long as I can build something wonderful.
                    </p>
                    <p>
                        Reading, youtube, and fitness keep me entertained when I am bored.
                    </p>
                </div>
            </div>
            <hr>
        </div>

    </div>



    <div class="row" id="row3">
        <div class="col" style="text-align: center;">

            <h2 id="rowtitle2">
                Projects</h2>

            <div class="row justify-content-center" >


                <div class="col-md-4 " style="text-align: center;">


                    <div id="card">

                        <div id="picture1">
                            <a id="repobutton" style="float: left;" class="btn btn-sm" href="https://github.com/RehanProgrammer/WhatsHappNin"
                                role="button">
                                <p id="pbutton">Repo</p>
                            </a>
                        </div>
                        <div id="cardheader">
                            <p id="p2">WhatsHappNin<br>A location based social media application</p>

                        </div>



                    </div>
                </div>

                <div class="col-md-4 " style="text-align: center;">
                    <div id="card">

                        <div id="picture">
                            <a id="repobutton" style="float: left;" class="btn btn-sm" href="https://github.com/theSaltyConditional/LuceroServices"
                                role="button">
                                <p id="pbutton">Repo</p>
                            </a>

                        </div>
                        <div id="cardheader">
                            <p id="p2">Resume App<br>
                                Upload and compare your Resume</p>
                        </div>

                    </div>
                </div>



            </div>
            <hr>
        </div>
    </div>



    <div class="row" id="row4">
            <div class="col" style="text-align: center;">
                <h2 id="rowtitle2">Recommendations</h2>
    
                <div class="row justify-content-center">
                    <div class="col-md-4" style="text-align: center;">
                        <p id="coltitle">Youtube channels</p>
    
                        <a href="https://www.youtube.com/user/PowerfulJRE">
                            <p class="btn btn-sm" id="navlink">Joe Rogan Experience</p>
                        </a>

                        <a href=" https://www.youtube.com/user/theovonk">
                     
                            <p class="btn btn-sm" id="navlink">Theo Von</p>

                        </a>
                        <a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">
                            <p class="btn btn-sm" id="navlink">The Coding Train</p>
                        </a>
                        <a  href="https://www.youtube.com/channel/UCtlAFoYl2aWb6pMiHCctQHA">
                            <p class="btn btn-sm" id="navlink">Ricky Gutierrez Investing</p>
                        </a>
                        <a href="https://www.youtube.com/channel/UCsXVk37bltHxD1rDPwtNM8Q">
                            <p class="btn btn-sm" id="navlink">Kurzgesagt</p>
                        </a>
                        <a href="https://www.youtube.com/user/AngryPicnic">
                            <p class="btn btn-sm"  id="navlink">AngryPicnic</p>
                        </a>
                        <a href="https://www.youtube.com/watch?v=hHW1oY26kxQ">
                            <p class="btn btn-sm"  id="navlink">Study Beats</p>
                        </a>
    
                    </div>
    
                    <div class="col-md-4" style="text-align: center;">
                        <p id="coltitle">Books</p>
                        <a href="https://www.goodreads.com/book/show/66354.Flow">
                            <p class="btn btn-sm"  id="navlink">Flow</p>
                        </a>
                        <a href="https://www.goodreads.com/book/show/4069.Man_s_Search_for_Meaning?from_search=true">
                            <p class="btn btn-sm" id="navlink">Man's Search for Meaning</p>
                        </a>
                        <a href="https://www.goodreads.com/book/show/5479.Brave_New_World_Brave_New_World_Revisited?ac=1&from_search=true">
                            <p class="btn btn-sm" id="navlink">Brave New World</p>
                        </a>
                        <a href="https://www.goodreads.com/book/show/297673.The_Brief_Wondrous_Life_of_Oscar_Wao?ac=1&from_search=true">
                            <p class="btn btn-sm" id="navlink">The Brief Wondrous Life of Oscar Wao</p>
                        </a>
                        <a href="https://www.goodreads.com/book/show/60551.The_Book_on_the_Taboo_Against_Knowing_Who_You_Are?ac=1&from_search=true">
                            <p class="btn btn-sm"  id="navlink">The Book on the Taboo Against Knowing Who You Are</p>
                        </a>
                        <a href="https://www.goodreads.com/book/show/29502342-play-anything?ac=1&from_search=true">
                            <p class="btn btn-sm" id="navlink">Play Anything</p>
                        </a>
    
    
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                         <p id="coltitle" >Free Resources</p>
                        <a href="https://aws.amazon.com/">
                            <p class="btn btn-sm" id="navlink">Amazon Web Services</p>
                        </a>
                        <a href="https://code.visualstudio.com/">
                            <p class="btn btn-sm" id="navlink">Visual Studio Code</p>
                        </a>
                        <a href="https://tortoisegit.org/">
                            <p class="btn btn-sm" id="navlink">Tortoise Git</p>
                        </a>
                        <a href="https://uigradients.com">
                            <p class="btn btn-sm" id="navlink">uiGradients</p>
                        </a>
                        <a href="https://www.hackerrank.com/">
                            <p class="btn btn-sm" id="navlink">HackerRank</p>
                        </a>
                        <a href="https://www.netlify.com/">
                            <p class="btn btn-sm" id="navlink">netlify</p>
                        </a>
                        <a href="https://mdbootstrap.com/">
                            <p class="btn btn-sm" id="navlink">MDBootstrap</p>
                        </a>
                    </div>
    
                </div>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center " id="rowbottom">


                <div class="col-8 " style="text-align: center;">
        
                    <div class="row justify-content-center " style="margin-top:6em;">
        
                        <div class="col-3">
                            <a href="https://github.com/theSaltyConditional">
                                <i class="fab fa-github" id="icon"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.linkedin.com/in/david-lucero-710ab3154/">
                                <i class="fab fa-linkedin" id="icon"></i>
                            </a>
                        </div>
                        <div class="col-3  justify-content-center">
                            <a href="https://github.com/theSaltyConditional" style="text-align:center;">
                                <p id="navlink2">CV</p>
                            </a>
                        </div>
        
                    </div>
        
                    <div class="row justify-content-center" style="margin-top:2em;">
                        <p style="color:whitesmoke; font-size: 1em;">lucerodavid1010@gmail.com</p>
                    </div>
                </div>
        
        
            </div>


</div>


<!--


<div class="col-lg-12" id="col-1A">

        <div class="d-flex flex-column justify-content-around" id="maincontent">

            <div class="d-flex flex-column justify-content-center">


                <div class="d-flex justify-content-center">
                    <div>
                        <h1 class="animated bounceIn ">David Lucero</h1>
                    </div>

                </div>
                <div>
                    <p>I am a senior computer scientist at Texas Tech University and I expect to graduate
                        May 2019. </p>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-around">
                    <div>
                        <a id="navlink" href="https://drive.google.com/file/d/1TP8Eua_zxVTiacGV0qzfeLkIDHGrIOD_/view?usp=sharing">
                            resume
                        </a>
                    </div>

                    <div>
                        <a id="navlink" href="projects">projects
                        </a>
                    </div>
                    <div>
                        <a id="navlink" href="#">recommendations

                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center ">
                <div class="d-flex justify-content-end col-4 ">
                    <a href="https://github.com/theSaltyConditional">
                        <i class="fab fa-github" id="icon"></i>
                    </a>
                </div>

                <div class="d-flex justify-content-center col-4 ">
                    <a href="https://www.linkedin.com/in/david-lucero-710ab3154/">
                        <i class="fab fa-linkedin" id="icon"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-start col-4 ">
                    <i class="fas fa-envelope" id="icon"></i>
                </div>


            </div>


        </div>



    </div>

    -->