
<!DOCTYPE html>


<div class="d-inline-flex bg-success row-fluid justify-content-center align-items-center" id="firstpanel">

        <div class="d-flex col flex-column px-5 justify-content-center align-items-center" id="firstpanelcol">
          
            <h1 id="aboutheader" style="font-size:6vw;">I'm David Tommy Lucero.</h1>
            <p class="text-center text-black" style="font-size:4vh;">A senior computer science undergrade at Texas Tech University
                and I expect to gradutate May 2019.
            </p>
           
        
        </div>

</div>



<div class="d-inline-flex row-fluid flex-wrap" id="thirdpanel">

    <div class="d-flex col" id="thirdpanelcol1">
        
        <div class="view overlay" id="foo" >

            <div id="thirdpanelcol1wrapper" class="d-flex  "></div>

                <div class="mask flex-center rgba-black-light">
                    <p class="white-text">About</p>
                </div>
            

        </div>

    </div>


    <div class="d-flex col " id="thirdpanelcol2">

            <div class="view overlay" id="foo" >

                    <div id="thirdpanelcol2wrapper" class="d-flex justify-content-center align-items-center " >
                        <p id="projecticon" class="text-center " style="font-size:4vh;">Projects</p>
                    </div>
        

                        <div class="mask flex-center rgba-black-light">
                            <a class="d-flex" id="thirdpanelcol2link" href="resume"></a>
                        </div>
                    
        
            </div>

    </div>

    

    <div class="d-flex col " id="thirdpanelcol3">

            <div class="view overlay" id="foo" >

                    <div id="thirdpanelcol3wrapper" class="d-flex justify-content-center align-items-center " >
                        <p id="resumeicon" class="text-center " style="font-size:4vh;">Resume</p>
                    </div>
        

                    <div class="mask flex-center rgba-white-light">
                        <a class="d-flex" id="thirdpanelcol3wrapper" href="https://drive.google.com/file/d/1TP8Eua_zxVTiacGV0qzfeLkIDHGrIOD_/view?usp=sharing"></a>
                    </div>
 
            </div>

    </div>
    
</div>



<div class="d-inline-flex p-3 row-fluid justify-content-center align-items-center" id="fourthpanel">
    
    <div class="d-flex col justify-content-center" id="fourthpanelcol">
          
      <div class="d-inline-flex flex-column p-5 m-3" id="about">
        <h1 id="aboutheader " style="font-size:8vw;">About_
        </h1>
        <p class="text-black" style="font-size: 4vh;">I am 22 years of age. My dream is to work at Google. I am currently
          learning the MEAN web development stack. 
        </p>
        
       </div>
    
    </div>
 

    

</div>


