
.row-fluid{
    
    width: 100%;
}

#firstpanel{
    height: 80%;
    
}

#secondpanel{
    height:60%;
    background-color: rgb(90, 90, 90);

}
#secondpanelcolL{
    
    background-color: #f5f5f5;
}
#secondpanelcolR{
    background-color: #30415D;
}

#thirdpanel{
    height: 40%;
}
#thirdpanelcol1{
    padding: 0;
}
#thirdpanelcol1wrapper{
    height: 100%;
    width: 100%;
    background-color: #984B43;
}
#foo{
    height: 100%;
    width: 100%;
}
#thirdpanelcol2{
    background-color: #8eaebd;
    padding: 0;
}
#thirdpanelcol3{

    background-color: #031424;
    padding: 0;
}

#thirdpanelcol3wrapper{
    height: 100%;
    width: 100%;
    
    text-decoration: none;
}

#thirdpanelcol2wrapper{
    height: 100%;
    width: 100%;
}
#thirdpanelcol2link{
    height: 100%;
    width: 100%;
    
    text-decoration: none;
}

#projecticon{
    color:gold;
}
#resumeicon{
    color:gold;
}

#fourthpanel{
    height: 100%;
}
fourthpanelcol{
    height: auto;
}
#about{
    width: 80%;
    border-color: grey;
    border-width: .25em;
    border-style: double;
}
#aboutheader{
    color: gold;
    text-decoration-line: underline;
    text-decoration-color: black;
}