


hr{
    color: black;
    overflow: visible;
    text-align: center;
    height: 1em;
}
#rowtitle{
    color:gold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#row1{
    height: 20em;

    margin: 5em;
}

#row2{
    height: 20em;

    margin:5em;
}
#row3{
    height: 30em;
    padding:3em;
    margin:4em;
   
    background-color:whitesmoke;   
}
#rowbottom{
    height: 10em;
    padding:3em;
    margin:4em;
   
    background-color:whitesmoke;   
}
#card{
    background-color:#17252a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom:3em;
}
#cardheader{
    height:6em;
    padding:.5em;
}
#repobutton{
    background-color: #17252a;
    
}
#pbutton{
    color:white;
    margin:0;
    padding:0;
}
#repobutton:hover{
    background-color:#233941;
}
#picture1{
    height: 15em;
    
    position: relative;
    background-image: url("../projects/whatshappninmockup.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#picture{
    height: 15em;
    position: relative;
    background-image: url("../projects/exresume2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}



#firstpanel{
    position: relative;
    z-index: 1000;
}



#firstpanelheader{
    color: #17252a;
    text-decoration-line: underline;
    text-decoration-color: gold;
}
#firstpanelinfo{
    color: #17252a;
    width:100%;
}
#firstpanelcol{
    height: auto;
 
}


#foo{
    height: 100%;
    width: 100%;
}

#navbartop{
    letter-spacing: 2px;
    text-decoration-line: line-through;
    text-decoration-color: #17252a;
    text-decoration-style: wavy;
    color: #17252a;
}
#navbartop:hover{
    letter-spacing: 4px;
    text-decoration-line: line-through;
    text-decoration-color: gold;
    text-decoration-style: wavy;
    color: #17252a;
}
#linktab{
    color:#17252a;
    font-size: 1.5em;
}
#navlink{

    color:#17252a;
    font-size: 1.5em;
    letter-spacing: 2px;
}
p{
    color:#17252a;
    font-size: 1.2em;
    letter-spacing: 1px;
}

#navlink:hover{
    color: gold;
    letter-spacing: 7px;
}

ul li{
    display: inline;
}

#projecticon{
    color:#def2f1;
}
#resumeicon{
    color:#17252a;
}

#fourthpanel{
    position: relative;
    
    
    
}
#about{
    width: 900px;
 
}
#aboutheader{
    color: gold;
    text-decoration-line: underline;
    text-decoration-color: gold;
}
#aboutinfo{
    color: #17252a;
}

h1{
   font-size: 3em; 
   
   
}
h2{
    font-size: 2em;
}
h3{
    font-size: 4em;
}
#p2{
    font-size:1em;
    color:white;
}

#email{
    color: #17252a;
    font-size: 1em;
}

.material-icons{
    color: #17252a;
}
.material-icons:hover{
    color: gold;
}


#icon{
    color:#17252a;
    font-size: 2em;
    letter-spacing: 5px;
}
#icon:hover{
    color:gold;
   
}
#contacticons{
    width:50%;
}



@media (max-width: 820px){
    h1{
        font-size:2.5em;
        
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 3em;
    }
    #email{
        font-size: 1.8em;
    }
    p{
        font-size: 1.25em;
    }
    #navlink{
        font-size: 1.25em;
    }
    #row1{
        background-color:yellow;
        margin:3em;
    }

}

@media (max-width: 500px){
    h1{
        font-size:2em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 2.5em;
    }
    p{
        font-size: 1em;
    }
    #navlink{
        font-size: 1em;
    }
    #row1{
        background-color:green;
        height:75%;
        margin:1.5em;
    }
    #row2{
        height:auto;
        
        margin:1.5em;
    }
    #row3{

       
        margin: 1.5em;
        height:auto;
    }
    #rowbottom{
        margin:1.5em;
        height:auto;
    }

}  


@media (max-height:700px){
    #firstpanelcol{
        height: 600px;
    }
  
}
@media (max-height:500px){
    #firstpanelcol{
        height: 400px;
    }
}

@media (max-height:500px){
    #firstpanelcol{
        height: 400px;
    }
}