<div class="d-flex flex-column " id="wholepanel">

  <div class="d-flex  align-items-center justify-content-center" id="firstpanel">
   
      <div style="background-color: rgba(255, 255, 255, 0.911)" class="d-flex flex-column shadow-strong m-5  jumbotron text-center border border-secondary">
          <h1>David Tommy Lucero</h1>
          <p class="lead">Computer Scientist</p>
          <hr class="my-4">
              <div class="d-flex p-2 justify-content-around">
          
      
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/about']">
                      About
                    </button>
                </div>
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/resume']">
                      Resume
                    </button>
                </div>
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/contact']">
                      Contact
                    </button>
                </div>
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/about']">
                      About
                    </button>
                </div>

              </div>
            
    </div>
  </div>
  <div class="d-flex flex-shrink align-items-center justify-content-center" id="secondpanel">
      <div style="background-color: rgba(255, 255, 255, 0.911)" class="shadow m-5 d-flex flex-column jumbotron text-center border border-secondary">
          <h1>David Tommy Lucero</h1>
          <p class="lead">Computer Scientist</p>
          <hr class="my-4">
              <div class="d-flex p-2 justify-content-around">
          
      
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/about']">
                      About
                    </button>
                </div>
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/resume']">
                      Resume
                    </button>
                </div>
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/contact']">
                      Contact
                    </button>
                </div>
                <div class="m-2 d-flex">
                    <button class="btn btn-primary" [routerLink]="['/about']">
                      About
                    </button>
                </div>
  
              </div>
        
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center" id="thirdpanel">
        <div style="background:transparent !important" class="shadow-strong m-5 jumbotron text-center border border-secondary">
            <h1>David Tommy Lucero</h1>
            <p class="lead">Computer Scientist</p>
            <hr class="my-4">
                <div class="d-flex p-2 justify-content-around">
            
        
                  <div class="m-2 d-flex">
                      <button class="btn btn-primary" [routerLink]="['/about']">
                        About
                      </button>
                  </div>
                  <div class="m-2 d-flex">
                      <button class="btn btn-primary" [routerLink]="['/resume']">
                        Resume
                      </button>
                  </div>
                  <div class="m-2 d-flex">
                      <button class="btn btn-primary" [routerLink]="['/contact']">
                        Contact
                      </button>
                  </div>
                  <div class="m-2 d-flex">
                      <button class="btn btn-primary" [routerLink]="['/about']">
                        About
                      </button>
                  </div>
    
                </div>
          
        </div>
        
      </div>
      
      <div class="d-flex align-items-center justify-content-center" id="resumepanel">

        <div class="d-flex" id="resume">

              <a href="https://drive.google.com/file/d/1o6U5hDWw_n5lO2otGnTZjjZbu-blE5hR/view?usp=sharing">
                <img src="https://lh6.googleusercontent.com/QaVQ4TA1bMTJqOOy4aga5-ZWjexWY6FJEVm5NwQRDQ1l-hgmlVFs7NWs7e8=w2400" style="width:100%; height:100%">
              </a>
        </div>
  </div>
      
</div>